<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>
        <%= title  %>
    </title>
    <link rel="stylesheet" href="css/index.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
</head>

<body>
  <div class="header">
      <div class="nav">
          <div class="inputbtn">
              上传图片
              <input type="file" id="uploadInputs" >
          </div>
      </div>
  </div>
 <span id="coverInfo"></span>
  <div class="coverinfoshow"></div>
  <input type="text" style="display: none" name="coverpic" id="coverpic">
   <div  class="picmain">
       

   </div>
    <script>
    var fileInputs = document.getElementById("uploadInputs");
    var coverInfo = document.getElementById("coverInfo");
    var coverInputs = document.getElementById("coverInputs");

   /* uploadPic(coverInputs, coverInfo, function(base64data) {
        var img = "<img src='" + base64data + "'>";
        $(".coverinfoshow").html(img);
    }, function(imgurl) {

        $("#coverpic")[0].value = imgurl;

    });*/
    uploadPic(fileInputs, coverInfo,function(base64data) {
        var img = "<img src='" + base64data + "'>";
        $(".coverinfoshow").html(img);
    }, function(imgurl) {

        $("#coverpic")[0].value = imgurl;

    });

    function uploadPic(fileInput, fileInfo, callback1, callback2) {
        //监听change事件
        fileInput.addEventListener('change', function(e) {
            // e.preventDefault();
              //  e.stopPropagation();
            //检查文件是否选择
            if (!fileInput.value) {
                fileInfo.innerHTML = "没有选择任何文件";
                return;
            }

            //获取file的引用
            var file = fileInput.files[0];
            console.log(file);
            //获取file信息

            if (file.type !== 'image/jpeg' && file.type !== 'image/png' && file.type !== 'image/gif') {
                alert('不是有效的图片');
                return;
            }

            //读取文件
            var reader = new FileReader();
            reader.onload = function(e) {
                e.preventDefault();
                e.stopPropagation();
                var base64data = e.target.result;
                if (callback1) {
                    callback1(base64data)
                }

                $.ajax({
                    url: "/upload-qiniu/uploadpic",
                    type: "post",
                    data: { imgData: base64data },
                    beforeSend: function() {
                        $(fileInfo).html("图片正在上传...");
                    },
                    success: function(data) {
                        //alert(111);
                        var data = JSON.parse(data);
                        if (data.status == "100") {
                            $(fileInfo).html("上传完成...");
                        }

                        SavePic(data.imageUrl);

                        


                        if (callback2) {
                            callback2(data.imageUrl);
                        } else {
                            var markdownurl = "![]" + '(' + data.imageUrl + ')';
                            var text = $("#textarea").val();
                            text += markdownurl;
                            $("#textarea").val(text);
                        }
                    }
                })

            }
            // 以DataURL的形式读取文件:
            reader.readAsDataURL(file);
        });
    }

    function SavePic(picurl){
        //alert(picurl);
          $.ajax({
            url:"/savepic",
            type:"post",
            data:{ picurl:picurl },
            success:function(data){
              console.log(data);
              $(".picmain").empty();
              getPic(0)
            }
          })

    }

    function getPic(page){
        $.ajax({
            url:"piclist/"+page,
            type:"get",
            success:function(data){
                var data = JSON.parse(data);
                for(var i = 0;i<data.length;i++){
                    var item =  "<div class='item'><img src='"+data[i].picurl+"' alt='' /></div>"
                       
                    $(".picmain").append(item);
                }
               
            }
        })
    }

    getPic(0)
    </script>
</body>

</html>